@page "/courses"
<PageTitle>Courses</PageTitle>
<h3>Courses</h3>
<p>For this page i was thinking it would show you your 
   courses you were enrolled in along with navigation to sign up for new ones</p>
@code {

}
