@page "/index"

@using Synaptica.Data
@using Synaptica.Shared.Models

@inject SynpaticaDbContext DbContext
@inject Synaptica.Services.SessionService SessionService

<PageTitle>Synaptica Home</PageTitle>
<h3>This is where we will have our navigation take place including things like quiz, courses things like that</h3>

<p>User logged in: @SessionService.LoggedInUser</p>


