@page "/quizzes"
<PageTitle>Quizzes</PageTitle>
<h3>Quizzes</h3>
<p>I think this is where all the quizzes will take place, llike course where shows current ones along 
    with being able to get new oens</p>
@code {

}
